<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DOME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/reset.css">
</head>

<body id="mainBody">
    <div class="logo">
        <img src="images/logo.jpg" />
    </div>
    <form class="selectForm">
        <div class="title">车型搜索</div>
        <div class="selectBox mt35"><span v-text="year"></span>
            <select class="selectYear" @change="yearChangeListener" v-model="year">
                <option v-for="item in yearList" v-text="item"></option>
            </select>
        </div>
        <div class="selectBox" ><span v-text="brand"></span>
            <select class="selectBrand" v-model="brand" @change="queryModelByBrandAndYear">
                <option v-for="item in brandList" v-text="item"></option>
            </select>
        </div>
        <div class="selectBox"><span v-text="model"></span>
            <select class="selectmodel" v-model="model">
                <option v-for="item in modelList" v-text="item"></option>
            </select>
        </div>
        <div class="selectBox nobg" @click="enterSearch">
            搜索
        </div>
        
    </form>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>

</html>
